@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@400;500&display=swap");

:root {
  --body: #e9eeee;
  --frame: #a2a2a2;
  --background: #eff4f4;
  --line: #555555;
  --titulo: #000;
  --fill: #d3d8da;
  --focus-primary: #6c95bdff;
  --focus-secondary: #adc0d3ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #12121c;
    --frame: #757684ff;
    --background: #212132ff;
    --line: #819acaff;
    --titulo: #fff;
    --fill: #32344aff;
    --focus-primary: #dfe3f8ff;
    --focus-secondary: #9397c6ff;
  }
}

html {
  background: var(--body);
}

body {
  background: var(--body);
  height: 100vh;
  max-width: 100%;
  padding-bottom: 80px;
}

#observablehq-center {
  margin: 0;
  main {
    color: var(--focus-line);
    margin: 0 auto;
    max-width: 980px;
    p {
      max-width: none;
    }
  }
}

cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0px;
  padding: 20px 0;
  width: 100%;
  /* border-bottom: 1px solid var(--fill); */

  form {
    margin: 0 10px !important;
    select,
    input {
      background-color: var(--background);
      border-radius: 5px;
      border: none;
      text-align: center;
      padding: 5px;
      scrollbar-width: none;
    }
  }
}

titulo {
  font-family: "Playfair Display", serif;
  margin: 35px 0 25px 0;
  font-size: 1.7rem;
  font-weight: 650;
  color: var(--titulo);
  text-align: center;
  line-height: 1.3;
}

card {
  margin: 5px 5px;
}

tabla {
  margin: 30px 5px 10px 5px;
  max-width: 1500px;
  border-radius: 5px;
  padding: 5px;
  th,
  td {
    background-color: var(--background) !important;
  }
}

descargas {
  margin: 20px 5px;
  button {
    padding: 5px;
    background-color: var(--background);
    border: 1px solid var(--fill);
    border-radius: 5px;
  }
  & :hover {
    box-shadow: 0px 1px 10px 0px var(--fill);
    cursor: pointer;
  }
}

.plot {
  border-radius: 5px;
  border: 1px solid var(--fill);
  box-shadow: 0px 3px 10px 0px var(--fill);
}

@media screen and (max-width: 768px) {
  card {
    margin: 5px 0;
    .plot {
      border-radius: 0em !important;
      border-left: 0;
      border-right: 0;
      margin: 0;
    }
  }
  titulo {
    font-size: 1.2rem;
  }
}
