@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@400;500&display=swap");

:root {
  --body: #e9eeee;
  --frame: #a2a2a2;
  --background: #eff4f4;
  --line: #555555;
  --titulo: #000;
  --fill: #d3d8da;
  --focus-primary: #6c95bdff;
  --focus-secondary: #adc0d3ff;
  --shadow-color: 0 0% 73.5%;
  --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 34%),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 34%),
    0px 5.5px 6.2px -0.7px hsl(var(--shadow-color) / 34%),
    -0.1px 9px 10.1px -1.1px hsl(var(--shadow-color) / 34%),
    -0.1px 14.4px 16.2px -1.4px hsl(var(--shadow-color) / 34%),
    -0.2px 22.5px 25.3px -1.8px hsl(var(--shadow-color) / 34%),
    -0.2px 34.2px 38.5px -2.1px hsl(var(--shadow-color) / 34%),
    -0.4px 50.4px 56.7px -2.5px hsl(var(--shadow-color) / 34%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #12121c;
    --frame: #757684ff;
    --background: #212132ff;
    --line: #819acaff;
    --titulo: #fff;
    --fill: #32344aff;
    --focus-primary: #dfe3f8ff;
    --focus-secondary: #9397c6ff;
    --shadow-color: 240 20.5% 16.3%;
  }
}

html {
  background: var(--body);
}

body {
  background: var(--body);
  height: 100vh;
  max-width: 100%;
  #observablehq-center {
    margin: 0;
    main {
      color: var(--focus-line);
      margin: 0 auto;
      /* max-width: 1500px; */
      p {
        max-width: none;
      }
    }
  }
}

cuerpo,
menu,
grafico,
categorias,
variables,
tabla,
descargas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

cuerpo {
  margin: 0;
  padding-bottom: 15px;
}

header {
  font-family: "Playfair Display", serif;
  padding: 20px 0;
}

menu {
  gap: 10px;
  margin: 0px;
  padding: 0;
  width: 100%;

  form {
    display: flex;
    flex-direction: row;
    max-width: 100% !important;
    margin: 0 !important;
    div {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      scrollbar-width: none;
      width: 100%;
      label {
        flex-shrink: 0;
        margin-right: 0px !important;
        padding: 10px 18px 10px 0px;
        border-radius: 5px;
        input[type="radio"] {
          font-optical-sizing: auto;
          font-style: normal;
          margin: 0;
          appearance: none;
          background: transparent;
        }
      }
      label:has(input[type="radio"]:checked) {
        text-decoration: 5px solid underline var(--focus-primary);
        text-underline-offset: 10px;
      }
      label:has(input[type="radio"]) {
        cursor: pointer;
      }
      label:has(input[type="radio"]):hover {
        background: var(--background);
      }
    }
  }
  categorias,
  variables {
    border-bottom: 1px solid var(--fill);
    padding-bottom: 5px;
    width: 100%;
  }
  categorias label {
    font-size: 0.9rem;
    font-weight: 550;
  }
  variables label {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

grafico {
  max-width: 980px;
  margin: 0 auto;

  titulo {
    font-family: "Playfair Display", serif;
    margin: 35px 0;
    font-size: 2rem;
    max-width: 650px;
    font-weight: 650;
    color: var(--titulo);
    text-align: center;
    line-height: 1.3;
  }

  card {
    .plot {
      border-radius: 5px;
      border: 1px solid var(--fill);
      box-shadow: inset 0 1px 1px var(--background),
        var(--shadow-elevation-high);
    }
  }
}

tabla {
  margin: 60px 5px 20px 5px;
  max-width: 1500px;
  border-radius: 5px;
  padding: 5px;
  th,
  td {
    background-color: var(--background) !important;
  }
}

descargas {
  margin: 10px 5px;
  button {
    padding: 5px;
    background-color: var(--background);
    border: 1px solid var(--fill);
    border-radius: 5px;
  }
  & :hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  card {
    margin: 5px 0;
    .plot {
      border-radius: 0em !important;
      border-left: 0;
      border-right: 0;
      margin: 0;
      box-shadow: none !important;
    }
  }
  titulo {
    font-size: 1.5rem;
    max-width: 350px;
    margin: 15px 0 25px 0;
  }
  tabla {
    margin: 10px 0 0 0;
    padding: 0;
    form {
      box-shadow: none !important;
    }
  }
  descargas button {
    box-shadow: none !important;
  }
}
